<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        #customers {
            font-family: Raleway;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>
<body>
    <h1>Request  Panel</h1>

    <div style="font-family: Raleway;">
        <h5> Reservation Requests from students </h5>

        <table id="customers">
            <tr>
                <th>Request Id</th>
                <th>Requested No of student </th>
                <th>Requested No of Rooms</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @if (@ViewBag.myeservation != null)
            {
                foreach (ReservationRequest requests in @ViewBag.myeservation)
                {
                    <tr>
                        <td>@requests.Rid</td>
                        <td>@requests.NoOfStudents</td>
                        <td>@requests.NoOfRooms</td>
                        <td></td>
                        <td></td>
                        @if (@requests.Status == 0)
                        {
                            <td>Rejected</td>
                        }
                        else if (@requests.Status == 1)
                        {
                            <td>Approved</td>
                        }
                        else
                        {
                            <td>Still in Progress</td>
                        }
                        <td>
                            <form action="/Student/Approve" method="post">
                                <input type="hidden" name="Rid" value="@requests.Rid" />
                                 <input type="hidden" name="expids" value="@requests.Pid" />
                                <button type="submit">Approved</Button>
                            </form>
                        </td>
                        <td>
                            <form action="/Student/Reject" method="post">
                                <input type="hidden" name="Rid" value="@requests.Rid" />
                                <button type="submit">Reject</Button>
                            </form>
                        </td>
                    </tr>

                }
            }

        </table>


    </div>

    <br />


</body>
</html>